<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="header-lower">
            <div class="container">
                <div class="outer-box clearfix">
                    <div class="logo-box">
                        <figure class="logo"><a href="index.html"><img src="../assets/images/NUTRIPLANNER.png"
                                    alt=""></a>
                        </figure>

                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="" class="">Công thức nấu ăn</a></li>
                            <li><a href="" class="">Mua sắm</a></li>
                            <li><a href="" class="">Lập kế hoạch bữa ăn</a></li>
                            <li><a href="" class="">Cộng đồng</a></li>
                            <li><a href="" class="">Blog</a></li>
                            <li><a href="" class="">Thực phẩm</a></li>
                        </ul>
                    </div>
                    <div class="header_cta">
                        <a href="" class="btn header_cta_sec">Đăng nhập</a>
                        <a href="" class="btn btn-darkk">Đăng Kí</a>
                    </div>
                </div>


            </div>
        </div>
    </header>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>